@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: JakartaSans;
  src: url(/font/PlusJakartaSans-VariableFont_wght.ttf);
}
* {
  scroll-behavior: smooth;
  font-family: JakartaSans;
}
html {
  scroll-padding-top: 150px; /* height of your navbar */
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#topnav > a {
  padding: 20px;
  color: #374151;
  font-weight: 500;
  min-width: fit-content;
}
.active-scroll-spy {
  border-bottom: 2px solid #3b82f6;
}
.navItems:after {
  display: block;
  content: '';
  border-bottom: solid 3px #3b82f6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navItems:hover:after {
  transform: scaleX(1);
}
.navItems:after {
  transform-origin: 0% 50%;
}

.animate-accordion {
  animation: accordion 0.3s ease;
}

.animate-card {
  animation: card 0.4s ease;
}

@keyframes card {
  from {
    opacity: 0;
    margin-left: -10%;
  }
  to {
    opacity: 1;
  }
}

@keyframes accordion {
  from {
    opacity: 0;
    margin-left: -100%;
  }
  to {
    opacity: 1;
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#nav-item:hover > #dropdown {
  display: block;
  animation: fadeIn 0.4s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  margin-inline: 10px;
}

table > thead > tr,
table > tbody > tr {
  @apply border-b [&>*:first-child]:font-semibold text-left;
}
#costOfStudy > thead > tr,
#costOfStudy > tbody > tr {
  @apply [&>*:first-child]:md:w-[345px] [&>*:first-child]:w-[200px];
}
table th,
td {
  @apply px-2 py-3;
}

@keyframes sideNav {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#sideBar {
  animation: sideNav 0.4s linear forwards;
  z-index: 999;
}

.navbar.active {
  animation: fadeNav 0.4s linear forwards;
  background-color: white;
  position: fixed;
}

.navbar.active #nav-item {
  color: black !important;
}

.navbar {
  transition: all 0.9s;
  opacity: 1;
}

@keyframes fadeNav {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3b82f6;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #fff;
}
